sudo: required
env:
  DOCKER_COMPOSE_VERSION: 1.7.1

services:
  - docker

before_install:
  - sudo rm /usr/local/bin/docker-compose
  - curl -L https://github.com/docker/compose/releases/download/${DOCKER_COMPOSE_VERSION}/docker-compose-`uname -s`-`uname -m` > docker-compose
  - chmod +x docker-compose
  - sudo mv docker-compose /usr/local/bin
  - sudo mv /var/lib/docker/network/files/ /docker-network-files
  - docker-compose version
  - docker version
  - chmod +x project.sh
  - ./project.sh setup
  - docker ps -a

script::
  - ./project.sh test ci
